.popup-root {
  width: 350px;
  min-height: 250px;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

.popup-signed-in {
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.popup-signed-out {
  min-height: 250px;
}
