body {
  margin: 0;
  min-width: 350px;
  min-height: 250px;
  font-family: system-ui, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 250px;
}
